.aboout-container {
  padding: 16vh 0;
}

.about-page {
  max-width: 80%;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 5vh;
  padding: 2rem 2rem;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.header {
  text-align: center;
}

.header > h1 {
  color: #333;
}

.header > p {
  color: #696666;
  margin-bottom: 4rem;
}

.mission-section,
.team-section,
.values-section,
.contact-section {
  margin-bottom: 4rem;
}

.mission-section h2,
.values-section h2,
.contact-section h2 {
  margin-bottom: 1rem;
}

.team-section h2 {
  margin-bottom: 4rem;
}

.team-members {
  display: flex;
  justify-content: space-around;
}

.team-member {
  text-align: center;
}

.team-member img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.values-section ul {
  list-style-type: none;
  padding: 0;
}

.values-section li {
  margin-bottom: 8px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
