.latest-box {
  width: 25%;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  padding: 1.2rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  &:hover {
    background-color: #fafaff;
  }
}
.latest-title {
  font-size: 1.3rem;
  margin-bottom: 1em;
  height: 2.8rem;
  color: #1875d1;
  &:hover {
    color: #54eb86;
  }
}
.latest-box .latest-logo {
  margin-bottom: 1em;
  width: 200px;
  border-radius: 0.5rem;
}
.latest-box h3 {
  font-weight: 500;
  font-size: 1rem;
}
@media (max-width: 576px) {
  .latest-box {
    width: 78vw;
    margin: 0 auto;
  }
}
@media (min-width: 576.01px) and (max-width: 992px) {
  .latest-box {
    width: 40vw;
    margin: 0 auto;
  }
}
