.fav-container {
  padding: 10vh;
  min-height: 70vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 576.01px) and (max-width: 992px) {
  .fav-box {
    width: 80vw;
  }
  .job-box {
    height: 38vh;
  }
  .jobs-hr2 {
    width: 68vw;
  }
}

@media (max-width: 576px) {
  .fav-box {
    width: 85vw;
  }
  .job-box {
    height: 48vh;
  }
  .jobs-hr2 {
    width: 82vw;
  }
}
