.jobd-box {
  padding: 15vh 0;
  width: 50%;
  height: 65vh;
  text-align: center;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 0.4rem;
  &:hover {
    background-color: #f7f7f7e3;
  }
}
