.job-box {
  width: 60%;
  height: 60vh;
  text-align: center;
  padding: 1.2rem;
  margin: 0.5rem auto;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 0.4rem;
  &:hover {
    background-color: #f7f7f7e3;
  }
}

.job-title {
  font-size: 1.3rem;
  color: #0a66c2da;
  &:hover {
    color: rgb(84, 235, 134);
  }
}
.job-logo {
  border-radius: 0.8rem;
  width: 27%;
  margin: 2rem auto;
}
/* .inner-box {
  width: 0%;
  height: 100%;
  margin: 0 auto;
  border: 1px solid;
} */
.job-company,
.job-position {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6rem;
  text-align: center;
  color: rgb(51, 46, 46);
}

.jobs-hr {
  width: 64%;
  margin: 0 auto;
  border: 1px solid rgb(197, 190, 190);
  border-radius: 5px;
}

.crud-options {
  display: flex;
  gap: 3.5rem;
  font-size: 1.3rem;
  justify-content: center;
  padding: 0.4rem;
  color: #4e4b4b;
}

#job-detail-btn {
  padding: 0.4rem 2rem;
  margin: 1.5rem 1.5rem;
}
#job-apply-btn {
  background-color: rgb(84, 235, 134);
  padding: 0.4rem 2rem;
  margin: 1rem 1.5rem;
}
.edit,
.delete,
.heart {
  &:hover {
    transform: scale(1.1);
    color: red;
  }
}

.heart {
  animation: pulseHeart 1.6s infinite ease-in-out;
  color: red;
}

@keyframes pulseHeart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
