.error-container {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.error-message {
  color: #e74c3c; /* Red color for error messages */
}

.error-description {
  color: #333;
}

.back-btn {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.back-btn:hover {
  background-color: #2980b9;
}
