.jobs-container {
  padding: 15vh 2vw;
  display: flex;
  gap: 1rem;
}
.jobs-box {
  width: 65%;
}
.apply-job-box,
.Applied-jobs-container,
.no-applied {
  width: 18vw;
  padding: 2rem;
  height: 20vh;
  text-align: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 0.4rem;
}

.apply-job-box h2,
.Applied-jobs-container h2 {
  font-size: 1rem;
}
.apply-post-btn {
  width: 70%;
  background-color: rgb(84, 235, 134);
  margin-top: 1rem;
}
.apply-post-btn {
  animation: pulsea 1.6s infinite ease-in-out;
}
.no-applied {
  font-weight: 600;
}
#no-applied {
  margin-top: 2rem;
}
@keyframes pulsea {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.06);
  }
  100% {
    transform: scale(1);
  }
}
@media (min-width: 576.01px) and (max-width: 992px) {
  .jobs-container {
    padding: 15vh 2vw;
    display: flex;
    gap: 0.1rem;
  }
  .apply-job-box,
  .Applied-jobs-container,
  .no-applied {
    width: 22vw;
    padding: 2rem;
    height: 15vh;
  }
  #post-job-btn2 {
    width: 95%;
  }
  /* .inner-box {
    width: 50vw;
  } */
}

@media (max-width: 576px) {
  .jobs-container {
    display: flex;
    flex-direction: column;
    padding: 18vh 2vw;
  }

  .jobs-container .jobs-box {
    width: 95vw;
  }

  .apply-job-box,
  .Applied-jobs-container,
  .no-applied {
    width: 80vw;
    height: 15vh;
  }
}
