.hero-section {
  display: flex;
  padding: 0 10rem;
  padding-top: 20vh;
  width: 100vw;
  gap: 8rem;
  background-color: #fff;
  margin-bottom: 4vw;
  height: 70vh;
}

.hero-text {
  max-width: 40vw;
  color: rgb(59, 54, 54);
}
.primary-btn {
  background-color: #0a66c2;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  border-style: none;
  text-decoration: none;
  color: white;
  &:hover {
    background-color: #1875d1;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }
}

.hero-img img {
  border-radius: 8px;
  max-width: 28vw;
}
.primary-btn Link {
  text-decoration: none;
  color: white;
}

.hero-title {
  font-size: 2.6rem;
  margin: 1.5rem 0;
  background: linear-gradient(to right, #0a66c2, #eba672);
  -webkit-background-clip: text;
  color: transparent;
}

.hero-slogan {
  margin-bottom: 0.6rem;
}

.dero-desc {
  margin-bottom: 1.5rem;
}

/* Latest jobs styles */
.latest-jobs {
  margin: 3vh auto;
}
.latest-box-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

/* Mapped styles */
.jobs-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  gap: 1rem;
}
