/* .Applied-jobs-container {
    width: ;
} */
.Applied-jobs-container {
  overflow: scroll;
  height: 50vh;
  width: 20vw;
}
.Applied-jobs-container ul {
  list-style: none;
  line-height: 1.7rem;
}
.applied-text {
  height: 5rem;
}
.applied-details {
  width: 100%;
  height: 9rem;
  background-color: #faf9f9;
  padding: 0.5rem;
  margin-bottom: 0.6rem;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.remove-button {
  background-color: #ff3333;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.remove-button:hover {
  background-color: #e61c1c;
}
