@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");

.nav-bar {
  background-color: #fff7db;
  display: flex;
  list-style: none;
  padding: 1.3rem 3rem;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 500;
  position: fixed;
  width: 95%;
}

nav .links {
  display: flex;
  gap: 2rem;
}
.links {
  text-decoration: none;

  .active {
    color: #964405;
  }

  .link-style {
    color: #574405;
    text-decoration: none;
  }
}

.logo {
  font-family: Train One;
  color: #0f0f0f;
  font-weight: 600;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 100;
  display: flex;
  background-color: #fff7db81;
  flex-direction: column;
  backdrop-filter: blur(10px);
  width: 50vw;
  padding: 0.5rem 3rem;
  justify-content: flex-start;
}

.sidebar .links {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.sidebar li {
  width: 100%;
  list-style: none;
  &:hover {
    transform: scale(1.02);
  }
}
.logo-side {
  margin-bottom: 1rem;
}
.cancel-sidebar {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #574405;
}
.hamburger {
  display: none;
  margin-right: 4rem;
}

@media (max-width: 800px) {
  .hamburger {
    display: block;
  }
  .hideOnSmallScreen {
    display: none;
  }
}
