@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");

.nav-bar {
  background-color: #ffffff;
  display: flex;
  list-style: none;
  padding: 1.3rem 3rem;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 500;
  position: fixed;
  width: 95%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

nav .links {
  display: flex;
  gap: 4rem;
}

.links {
  text-decoration: none;
  margin-right: 3rem;

  .active {
    color: #0955a0;
    background-color: #e9e0e0;
  }

  .link-style {
    color: #0a66c2;
    text-decoration: none;
  }
}

.logo {
  font-family: Train One;
  color: #0a66c2;
  font-weight: 600;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 100;
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  backdrop-filter: blur(10px);
  width: 50vw;
  padding: 0.5rem 3rem;
  justify-content: flex-start;
  padding: 3rem;
}

.sidebar .links {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 2rem;
  font-size: 1.3rem;
}

.sidebar li {
  width: 100%;
  list-style: none;
  &:hover {
    transform: scale(1.02);
  }
}
.logo-side {
  margin-bottom: 1rem;
}
.cancel-sidebar {
  margin: 0.8rem -1.5rem;
  font-size: 2rem;
  color: #aaacaf;
  margin-bottom: 2rem;
}
.hamburger {
  display: none;
  margin-right: 4rem;
  font-size: 2rem;
  color: #9aaec2;
}

@media (max-width: 800px) {
  .hamburger {
    display: block;
  }
  .hideOnSmallScreen {
    display: none;
  }
}
