.footer-container {
  max-width: 100vw;
  background-color: #f9f9f9;
}

.upper-footer,
.lower-footer {
  display: flex;
  gap: 12vw;
  padding: 5vw;
  align-items: center;
}

.upper-footer h2 {
  color: rgb(86, 67, 5);
  margin-bottom: 1rem;
}
.footer-links h2 {
  background: linear-gradient(to right, #0a66c2, #eba672);
  -webkit-background-clip: text;
  color: transparent;
}
.footer-links ul {
  list-style: none;
  line-height: 2rem;
}

.footer-links ul li:hover,
.social-links a:hover {
  transform: scale(1.06);
}
.footer-about h2 {
  background: linear-gradient(to right, #0a66c2, #eba672);
  -webkit-background-clip: text;
  color: transparent;
}
.footer-about {
  max-width: 60vw;
}
.copy-right {
  min-width: 55vw;
}
.active {
  color: #964405;
}

.link-style {
  color: #574405;
  text-decoration: none;
}

.footer-links a {
  color: #574405;
  text-decoration: none;
}

hr {
  border-top: 1px dotted #574405;
}

.social-links {
  display: flex;
  gap: 2rem;
  font-size: 1.8rem;
  font-style: none;
}
.copy-right {
  color: rgb(116, 116, 111);
  font-size: 0.8rem;
}
.social-links a {
  text-decoration: none;
}

@media (max-width: 992px) {
  .lower-footer {
    display: flex;
    flex-direction: column-reverse;
  }
  .copy-right {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .footer-links h2,
  .footer-about h2 {
    font-size: 1.2rem;
    width: 7rem;
  }
  .footer-links li,
  .footer-about p {
    font-size: 0.8rem;
  }
}
